* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

body {
  /* font-family: "Poppins", sans-serif; */
  background-image: url(/images/➸\ edit\ stuff.jpeg);
  background-size: cover;
  background-repeat: none;
  height: 100vh;
  width: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  overflow-x: hidden;
}

/*LANDING SECTION*/
#landing-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  /* background: rgba(52, 0, 59, 0.45); */
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  /* backdrop-filter: blur(5.5px); */
  /* -webkit-backdrop-filter: blur(9.5px); */
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* width: 1600px; */
  /* height: 800px; */
  /* margin-block: 20px; */
}

.info-container {
  display: flex;
}

.display-picture {
  display: flex;
  align-items: center
  flex-direction: center;
  border: 10px solid #990073;
  border-radius: 50%;
  padding: 0.5%;
  width:30%;
  margin: 30%;
  margin-top: 4%;
}

.menu-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px;
  margin-top: 30px;
  padding: 20px 5%;
}

.landing-page h1 {
  display: flex;
  flex-direction: center;
  text-align: center;
  font-size: 60px;
  margin: 30%;
  padding: none;
  margin-top: -27%;
  /* padding: 10px 5%; */
  /* gap: 25px; */
}

h2 {
  display: flex;
  flex-direction: center;
  text-align: center;
  font-size: 40px;
  margin: 30%;
  padding: none;
  margin-top: -26%;
  /* padding: 10px 5%; */
}

.display {
  display: flex;
}

.button a {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #ffffff;
  padding: 10px 5%;
  margin: 20%;
  margin-top: -70%;
  justify-content: center;
  /* margin-left: 45%; */
  /* margin-right: -100px; */
  text-decoration-line: none;
  border: 5px solid #990073;
}

.button {
  font-weight: 600;
  border-radius: 50%;
  padding: 10px 35%;
}

.button :hover {
  color: blue;
  background: #db7fff;
}

/* NAVIGATION BAR */
.navbar {
  width: 110%;
  background-color: #990073;
  overflow: hidden;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: rgba(13, 13, 77, 0.671);
}

/* Current/active navbar link */
.active {
  background-color: none;
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: pink;
  position: fixed;
  top: -100%;
  /*   left: -100%; */
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
}

/*MENU SECTION*/
#menu-page {
  /* display: flex; */
  align-items: left;
  text-align: left;
  margin: 80px;
  margin-top: 150px;
  padding: 10px 5%;
}

.menu-details {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 65px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  /* line-height: 90px; */
}

.menu-details :hover {
  color: blue;
}

/*ABOUT SECTION*/
.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(52, 0, 59, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 1300px;
  height: 1200px;
  margin-left: 90px;
}

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50%;
}

.about {
  display: flex;
  justify-content: center;
  font-size: 90px;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  flex-direction: column;
  font-weight: 300;
}

.bio-item {
  font-weight: bold;
}

.bio p {
  margin-bottom: 25px;
}

.bio span {
  margin-left: 25px;
}

.bio-text {
  /* display: flex; */
  align-items: left;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #ffffff;
  margin: 100px;
  gap: 10px;
}

.bio-text p {
  margin-bottom: 5px;
}

.my-skills {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #ffffff;
  margin: 100px;
  padding: 15px;
}

/*EXPERIENCE SECTION*/
#experiences {
  height: 100vh;
  display: grid;
  place-items: center;
  width: 10px;
  justify-self: center;
}

.experience-container {
  display: grid;
  /* grid-template-columns: 1fr 10% 1fr;
  /* grid-template-rows: repeat(4, 1fr); */
  justify-content: center;
  /* justify-self: center; */
  /* align-self: center; */
  /* background-color: #db7fff; */
  width: 1300px;
  margin-left: 90px;
  padding: 80px;
  background: rgba(52, 0, 59, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/*PORTFOLIO SECTION*/
#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1300px;
  margin: 90px;
  padding: 50px;
  background: rgba(52, 0, 59, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 50px;
  margin: 30px;
}  */

/*.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  margin: 30px 30px;
  margin-bottom: 10px;
}*/

.card-container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 10px;
  margin-left: 90px;
  width: 100px;
}

.port-img {
  height: 300px;
  width: 550px;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .border {
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .port-img {
    width: 200px;
    height: 100px;
  }
}

/*TESTIMONIAL SECTION*/
#testimonial {
  box-sizing: border-box;
}

.owl-carousel {
  overflow: hidden;
}

.owl-content {
  display: flex;
  background: rgba(52, 0, 59, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 30px;
}

.owl-carousel .owl-item img {
  object-fit: cover;
  border-radius: 200px;
  margin: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

/* .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
} */

.owl-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .owl-content {
    display: flex;
    flex-direction: column;
  }
}

/*CONTACT SECTION*/
#contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 140px;
  padding: 60px;
  background: rgba(52, 0, 59, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.contact-group {
  background: rgba(52, 0, 59, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0px;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.form-info {
  padding: 40px;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
}

.form-label {
  /* display: none; */
}

.form-input,
button {
  background: rgba(226, 209, 209, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  outline: none;
  padding: 30px;
}

.form-input::placeholder {
  color: #db7fff;
}

.button:hover {
  background: rgba(152, 135, 135, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.buttons {
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}

.form-heading {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
